<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera and storage permissions -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Storage permissions for Android 12 and below -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Media permissions for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CricketApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPUCRICKETCLUB"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".CricketScoringActivity"
            android:exported="false"
            android:label="Cricket Scoring"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".RegisterPlayerFaceActivity"
            android:exported="false"
            android:label="Register Player Face"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.PlayerRegistrationActivity"
            android:exported="false"
            android:label="Player Registration"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".PitchVisionActivity"
            android:exported="false"
            android:label="Pitch Vision"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".CoachInterfaceActivity"
            android:exported="false"
            android:label="Coach Interface"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:label="SPU Cricket Dashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
